@charset "UTF-8";
/*-----------------reset--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}
ol li::marker, ul li::marker {
  content: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

body, body * {
  box-sizing: border-box;
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-7 {
  transition-delay: 0.7s;
}

.delay-8 {
  transition-delay: 0.8s;
}

.delay-9 {
  transition-delay: 0.9s;
}

.delay-10 {
  transition-delay: 1s;
}

.delay-11 {
  transition-delay: 1.1s;
}

.delay-12 {
  transition-delay: 1.2s;
}

.delay-13 {
  transition-delay: 1.3s;
}

.delay-14 {
  transition-delay: 1.4s;
}

.delay-15 {
  transition-delay: 1.5s;
}

.delay-16 {
  transition-delay: 1.6s;
}

.delay-17 {
  transition-delay: 1.7s;
}

.delay-18 {
  transition-delay: 1.8s;
}

.delay-19 {
  transition-delay: 1.9s;
}

.delay-20 {
  transition-delay: 2s;
}

.delay-21 {
  transition-delay: 2.1s;
}

.delay-22 {
  transition-delay: 2.2s;
}

.delay-23 {
  transition-delay: 2.3s;
}

.delay-24 {
  transition-delay: 2.4s;
}

.delay-25 {
  transition-delay: 2.5s;
}

.delay-26 {
  transition-delay: 2.6s;
}

.delay-27 {
  transition-delay: 2.7s;
}

.delay-28 {
  transition-delay: 2.8s;
}

.delay-29 {
  transition-delay: 2.9s;
}

.delay-30 {
  transition-delay: 3s;
}

@media only screen and (max-width: 640px) {
  .sp {
    display: unset;
  }
}
@media only screen and (min-width: 641px) {
  .sp {
    display: none !important;
  }
}

@media only screen and (max-width: 640px) {
  .pc {
    display: none !important;
  }
}
@media only screen and (min-width: 641px) {
  .pc {
    display: unset;
  }
}

@media only screen and (max-width: 640px) {
  :root {
    --content-width: 428;
    --em: 15;
  }
}
@media only screen and (min-width: 641px) {
  :root {
    --content-width: 1440;
    --em: 16;
  }
}

.d-b {
  display: block;
}

.d-lb {
  display: inline-block;
}

*[class*=stack] {
  display: block;
}

*[class*=stack-v] > * + * {
  margin-top: min(var(--space) / var(--content-width) * 100vw, var(--space) * 1px);
}

.stack-v1 {
  --space: 25;
}

.stack-v2 {
  --space: 37.5;
}

.stack-v3 {
  --space: 56.25;
}

.stack-v4 {
  --space: 84.375;
}

.stack-v5 {
  --space: 126.5625;
}

.stack-v6 {
  --space: 189.84375;
}

*[class*=box] {
  display: block;
  padding: var(--pt) var(--pr) var(--pb) var(--pl);
}

.box-p1 {
  --pt: 1em;
  --pr: 1em;
  --pb: 1em;
  --pl: 1em;
}

.box-p2 {
  --pt: 2em;
  --pr: 2em;
  --pb: 2em;
  --pl: 2em;
}

.box-p3 {
  --pt: 3em;
  --pr: 3em;
  --pb: 3em;
  --pl: 3em;
}

.box-p4 {
  --pt: 4em;
  --pr: 4em;
  --pb: 4em;
  --pl: 4em;
}

.box-p5 {
  --pt: 5em;
  --pr: 5em;
  --pb: 5em;
  --pl: 5em;
}

*:has(.center-abs) {
  position: relative;
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-bullet > li, .list-attention > li, .list-check > li, .list-bracket-num > li, .list-ast > li, .list-ast-num > li, .list-circle_num > li, .list-circle > li, .list-rect > li, .list-dot > li, .list-num > li {
  position: relative;
  line-height: 1.7;
}
.list-bullet > li::before, .list-attention > li::before, .list-check > li::before, .list-bracket-num > li::before, .list-ast > li::before, .list-ast-num > li::before, .list-circle_num > li::before, .list-circle > li::before, .list-rect > li::before, .list-dot > li::before, .list-num > li::before {
  position: absolute;
  left: 0;
}
.list-num {
  counter-reset: cntr;
}
.list-num > li {
  padding-left: 1.7em;
}
.list-num > li::before {
  content: counter(cntr) ". ";
  counter-increment: cntr;
}
.list-dot > li {
  padding-left: 1.2em;
}
.list-dot > li::before {
  content: "・";
  color: #000;
}
.list-rect > li {
  padding-left: 0.8em;
}
.list-rect > li::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  top: 0.6em;
  background-color: #000;
}
.list-circle > li {
  padding-left: 1em;
}
.list-circle > li::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #000;
  top: 0.5em;
}
.list-circle_num {
  counter-reset: cntr;
}
.list-circle_num > li {
  padding-left: 1.5em;
}
.list-circle_num > li::before {
  content: counter(cntr);
  font-size: 0.8em;
  counter-increment: cntr;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  border: 1px solid #000;
  top: 0.3em;
}
.list-ast-num {
  counter-reset: cntr;
}
.list-ast-num > li {
  padding-left: 1.7em;
}
.list-ast-num > li::before {
  content: "※" counter(cntr);
  counter-increment: cntr;
}
.list-ast > li {
  padding-left: 1.2em;
}
.list-ast > li::before {
  content: "※";
}
.list-bracket-num {
  counter-reset: cntr;
}
.list-bracket-num > li {
  padding-left: 1.7em;
}
.list-bracket-num > li::before {
  content: "(" counter(cntr) ")";
  counter-increment: cntr;
}
.list-check > li {
  padding-left: 2.2em;
}
.list-check > li::before {
  content: "";
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22_%E3%83%AC%E3%82%A4%E3%83%A4%E3%83%BC_2%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2038.04%2029.62%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23d47a72%3Bstroke%3A%23d47a72%3Bstroke-width%3A1.99px%3B%7D.cls-1%2C.cls-2%7Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D.cls-2%7Bfill%3Anone%3Bstroke%3A%23000%3Bstroke-width%3A.99px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22_%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%22%3E%3Crect%20class%3D%22cls-2%22%20x%3D%22.5%22%20y%3D%225.44%22%20width%3D%2223.69%22%20height%3D%2223.69%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%227.55%2011.83%2014.86%2017.88%2037.04%20.99%2015.87%2023.42%207.55%2011.83%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.list-attention > li {
  padding-left: 2.2em;
}
.list-attention > li::before {
  content: "(注)";
}

@media only screen and (max-width: 640px) {
  .reel-sp {
    overflow-x: scroll;
  }
}

.card {
  --item-width: 350px;
  --item-gap-v: 2em;
  --item-gap-h: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
  gap: var(--item-gap-v) var(--item-gap-h);
}

.table-grid {
  display: grid;
}
.table-grid thead, .table-grid tbody, .table-grid tr {
  display: contents;
}
.table-grid th.colspan-1, .table-grid td.colspan-1 {
  grid-column: auto/span 1;
}
.table-grid th.colspan-2, .table-grid td.colspan-2 {
  grid-column: auto/span 2;
}
.table-grid th.colspan-3, .table-grid td.colspan-3 {
  grid-column: auto/span 3;
}
.table-grid th.colspan-4, .table-grid td.colspan-4 {
  grid-column: auto/span 4;
}
.table-grid th.colspan-5, .table-grid td.colspan-5 {
  grid-column: auto/span 5;
}
.table-grid th.colspan-6, .table-grid td.colspan-6 {
  grid-column: auto/span 6;
}
.table-grid th.colspan-7, .table-grid td.colspan-7 {
  grid-column: auto/span 7;
}
.table-grid th.colspan-8, .table-grid td.colspan-8 {
  grid-column: auto/span 8;
}
.table-grid th.colspan-9, .table-grid td.colspan-9 {
  grid-column: auto/span 9;
}
.table-grid th.colspan-10, .table-grid td.colspan-10 {
  grid-column: auto/span 10;
}
.table-grid th.rowspan-1, .table-grid td.rowspan-1 {
  grid-row: auto/span 1;
}
.table-grid th.rowspan-2, .table-grid td.rowspan-2 {
  grid-row: auto/span 2;
}
.table-grid th.rowspan-3, .table-grid td.rowspan-3 {
  grid-row: auto/span 3;
}
.table-grid th.rowspan-4, .table-grid td.rowspan-4 {
  grid-row: auto/span 4;
}
.table-grid th.rowspan-5, .table-grid td.rowspan-5 {
  grid-row: auto/span 5;
}
.table-grid th.rowspan-6, .table-grid td.rowspan-6 {
  grid-row: auto/span 6;
}
.table-grid th.rowspan-7, .table-grid td.rowspan-7 {
  grid-row: auto/span 7;
}
.table-grid th.rowspan-8, .table-grid td.rowspan-8 {
  grid-row: auto/span 8;
}
.table-grid th.rowspan-9, .table-grid td.rowspan-9 {
  grid-row: auto/span 9;
}
.table-grid th.rowspan-10, .table-grid td.rowspan-10 {
  grid-row: auto/span 10;
}

.grid-outline, .container {
  --full: minmax(5vw, 1fr);
  --content: min(92vw, 1000px);
  display: grid;
  overflow: hidden;
  grid-template-columns: [full-start] var(--full) [content-start] var(--content) [content-end] var(--full) [full-end];
}
.grid-outline > *, .container > * {
  grid-column: content;
}
.grid-outline > .content-full, .container > .content-full {
  grid-column-start: full-start;
  grid-column-end: full-end;
}
.grid-outline > .content-left, .container > .content-left {
  grid-column-start: full-start;
  grid-column-end: content-end;
}
.grid-outline > .content-right, .container > .content-right {
  grid-column-start: content-start;
  grid-column-end: full-end;
}
.grid-outline > .aside-left, .container > .aside-left {
  grid-column-start: full-start;
  grid-column-end: content-start;
}
.grid-outline > .aside-right, .container > .aside-right {
  grid-column-start: content-end;
  grid-column-end: full-end;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
html.lock {
  overflow: hidden;
  height: 100%;
}

main {
  margin-inline: auto;
  overflow: hidden;
}

.container {
  --content: min(92vw, 1170px);
  --full: minmax(4vw, 1fr);
}

img {
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 1024px) {
  .header {
    height: 55px;
  }
}
@media only screen and (min-width: 1026px) {
  .header {
    height: 80px;
  }
}
.header_left {
  height: 100%;
}
.header_left h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media only screen and (max-width: 640px) {
  .header_left h1 {
    padding: 5px 10px;
  }
}
@media only screen and (min-width: 641px) {
  .header_left h1 {
    padding-inline: 28px;
  }
}
.header_right {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .header_right {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 55px;
    right: 0;
    width: 100dvw;
    max-width: 769px;
    height: calc(100dvh - 55px);
    background-color: #fff;
    padding-block: 50px;
    padding-inline: 6vw;
    transition: all 0.3s ease-out;
    z-index: 80;
  }
  .header_right:not(.open) {
    opacity: 0;
    transform: translateX(100%);
  }
  .header_right.open {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (min-width: 1026px) {
  .header_right {
    align-items: center;
    justify-content: center;
    padding-right: min((28 / var(--content-width)) * 100vw, 28 * 1px);
  }
}
@media only screen and (min-width: 1026px) {
  .header_mobile {
    display: none;
  }
}
.header_mobile_menu {
  background-color: #0096E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 55px;
  gap: 8px;
}
.header_mobile_menu span {
  background-color: #fff;
  width: 30px;
  height: 3px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.header_mobile_menu.open span {
  width: 35px;
  position: relative;
  transform-origin: center;
}
.header_mobile_menu.open span:nth-child(1) {
  transform: rotate(30deg);
  top: 5px;
}
.header_mobile_menu.open span:nth-child(2) {
  display: none;
}
.header_mobile_menu.open span:nth-child(3) {
  transform: rotate(-30deg);
  top: -5px;
}
@media only screen and (max-width: 640px) {
  .header_logo {
    height: 35px;
  }
}
@media only screen and (min-width: 641px) {
  .header_logo {
    height: 45px;
  }
}
.header_nav {
  margin-right: 2em;
}
@media only screen and (max-width: 1024px) {
  .header_nav {
    width: 100%;
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 1026px) {
  .header_nav {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.header_nav_items {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .header_nav_items {
    flex-direction: column;
    padding-left: calc(6vw + 2em);
  }
}
.header_nav_item {
  position: relative;
  font-weight: bold;
}
@media only screen and (max-width: 1024px) {
  .header_nav_item {
    padding: 1em;
  }
}
@media only screen and (min-width: 1026px) {
  .header_nav_item:last-child {
    margin-left: 1em;
  }
  .header_nav_item:not(:last-child) {
    margin-inline: 1em;
  }
}
@media only screen and (max-width: 1024px) {
  .header_nav_item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #0096E0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }
}
.header_nav_item a {
  color: #2C3244;
  transition: 0.3s ease-out;
}
.header_nav_item a:hover {
  opacity: 0.7;
}
.header_cv {
  display: flex;
}
@media only screen and (min-width: 641px) {
  .header_cv {
    align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .header_cv {
    margin-top: 80px;
    width: 100%;
    justify-content: center;
  }
}

main {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  main {
    padding-top: 55px;
  }
}
@media only screen and (min-width: 1026px) {
  main {
    padding-top: 80px;
  }
}

.footer_cv.cv-area {
  background-color: #EFF6FF;
}
.footer_notice {
  background-color: #fff;
}
.footer_notice_list {
  padding-block: 20px;
}
.footer_notice_item {
  display: inline;
  word-break: break-all;
  margin-right: 1em;
  font-size: calc((13 / var(--em)) * 1rem);
}
.footer_logo {
  background-color: #F5F6FA;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .footer_logo {
    padding-block: min((50 / var(--content-width)) * 100vw, 50 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .footer_logo {
    padding-block: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .footer_logo_img {
    width: min((220 / var(--content-width)) * 100vw, 220 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .footer_logo_img {
    width: 268px;
  }
}
.footer_sns {
  border-top: 1px solid #DFE4ED;
  background-color: #F5F6FA;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .footer_sns {
    padding-block: min((30 / var(--content-width)) * 100vw, 30 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .footer_sns {
    padding-block: 24px;
  }
}
.footer_sns_link {
  display: block;
  transition: opacity 0.3s ease-out;
}
.footer_sns_link:hover {
  opacity: 0.7;
}
.footer_links_01 {
  background-color: #071933;
}
@media only screen and (max-width: 640px) {
  .footer_links_01_links {
    font-size: calc((14 / var(--em)) * 1rem);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-block: min((40 / var(--content-width)) * 100vw, 40 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .footer_links_01_links {
    font-size: calc((14 / var(--em)) * 1rem);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding-block: min((40 / var(--content-width)) * 100vw, 40 * 1px);
  }
}
@media only screen and (min-width: 1026px) {
  .footer_links_01_links {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.footer_links_01_links_item {
  gap: 1em;
}
@media only screen and (max-width: 640px) {
  .footer_links_01_links_item {
    text-align: center;
  }
}
.footer_links_01_links_item a {
  color: #fff;
  display: block;
  transition: opacity 0.3s ease-out;
}
.footer_links_01_links_item a:hover {
  opacity: 0.7;
}
.footer_links_02 {
  border-top: 1px solid #000;
  background-color: #071933;
}
.footer_links_02.container {
  --content: min(96vw, 1170px);
  --full: minmax(2vw, 1fr);
}
.footer_links_02_links {
  display: flex;
  gap: 2em;
}
@media only screen and (max-width: 640px) {
  .footer_links_02_links {
    flex-direction: column;
    font-size: calc((13 / var(--em)) * 1rem);
    padding-block: min((20 / var(--content-width)) * 100vw, 20 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .footer_links_02_links {
    font-size: calc((13 / var(--em)) * 1rem);
    padding-block: min((20 / var(--content-width)) * 100vw, 20 * 1px);
  }
}
@media only screen and (min-width: 1026px) {
  .footer_links_02_links {
    font-size: calc((14 / var(--em)) * 1rem);
    padding-block: 21px;
  }
}
@media only screen and (max-width: 640px) {
  .footer_links_02_links_item {
    text-align: center;
  }
}
.footer_links_02_links_item a {
  color: #fff;
  display: block;
  transition: opacity 0.3s ease-out;
}
.footer_links_02_links_item a:hover {
  opacity: 0.7;
}
.footer_cr {
  background-color: #040C18;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .footer_cr {
    font-size: calc((12 / var(--em)) * 1rem);
    padding-block: 1.5em;
  }
}
@media only screen and (min-width: 641px) {
  .footer_cr {
    font-size: calc((12 / var(--em)) * 1rem);
    padding-block: 22px 20px;
  }
}

main:has(.bg-fix) {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.bg-fix {
  position: fixed;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}
.bg-fix.is-hide {
  opacity: 0;
}
.bg-fix img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.lower-mv {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .lower-mv {
    background-image: url(../img/bg-lower-mv-sp.png);
    min-height: min((250 / var(--content-width)) * 100vw, 250 * 1px);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-block: min((60 / var(--content-width)) * 100vw, 60 * 1px) min((40 / var(--content-width)) * 100vw, 40 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv {
    background-image: url(../img/bg-lower-mv-pc.png);
    height: 240px;
  }
}
.lower-mv .breadcrumb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.lower-mv .breadcrumb_list {
  display: flex;
  align-items: center;
  height: 2.5em;
  gap: 0.5em;
  overflow: auto;
}
@media only screen and (max-width: 640px) {
  .lower-mv .breadcrumb_list {
    padding-inline: 4vw;
    font-size: calc((11 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv .breadcrumb_list {
    padding-inline: 2em;
    font-size: calc((12 / var(--em)) * 1rem);
  }
}
.lower-mv .breadcrumb_list::-webkit-scrollbar {
  display: none;
}
.lower-mv .breadcrumb_item {
  color: #2C3244;
  flex-shrink: 0;
}
.lower-mv .breadcrumb_item_parent {
  display: flex;
  align-items: center;
  color: inherit;
  gap: 0.5em;
  text-decoration: underline;
}
.lower-mv .breadcrumb_item_parent:hover {
  text-decoration: none;
}
.lower-mv .breadcrumb_item_parent::after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3.94141%202.30981L7.13159%205.5L3.94141%208.69019%22%20stroke%3D%22%232C3244%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3.94141%202.30981L7.13159%205.5L3.94141%208.69019%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.2%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3.94141%202.30981L7.13159%205.5L3.94141%208.69019%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.2%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3.94141%202.30981L7.13159%205.5L3.94141%208.69019%22%20stroke%3D%22black%22%20stroke-opacity%3D%220.2%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  display: block;
  width: 12px;
  height: 12px;
}
.lower-mv .breadcrumb_item_current {
  font-weight: bold;
  color: #0096E0;
}
.lower-mv_ttl {
  letter-spacing: 0.02em;
  line-height: 1.4;
  width: 100%;
}
.lower-mv_ttl strong {
  display: block;
  color: #0096E0;
}
@media only screen and (max-width: 640px) {
  .lower-mv_ttl strong {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_ttl strong {
    font-size: calc((40 / var(--em)) * 1rem);
  }
}
.lower-mv_ttl span {
  display: block;
  align-items: center;
  margin-top: 0.5em;
  padding-left: 1em;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .lower-mv_ttl span {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_ttl span {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.lower-mv_ttl span::before {
  content: "";
  background-color: #00AAE7;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-35%);
}
.lower-mv_txt {
  display: flex;
  flex-direction: column;
}
.lower-mv_txt_wrap {
  overflow: visible;
  margin-inline: auto;
}
.lower-mv_txt_sup {
  line-height: 1.4;
  color: #0096E0;
  font-weight: bold;
  margin-bottom: 1em;
  text-shadow: 0px 1px 10px rgb(255, 255, 255);
}
@media only screen and (max-width: 640px) {
  .lower-mv_txt_sup {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_txt_sup {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
@media only screen and (max-width: 640px) {
  .lower-mv_txt_main {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_txt_main {
    font-size: calc((40 / var(--em)) * 1rem);
  }
}
.lower-mv_txt_summary {
  margin-top: 1em;
  font-weight: 500;
  line-height: 1.5;
}
@media only screen and (max-width: 640px) {
  .lower-mv_txt_summary {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_txt_summary {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
.lower-mv_txt_summary li {
  padding-left: 1.8em;
  position: relative;
  margin-bottom: 0.5em;
}
.lower-mv_txt_summary li::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border: 3px solid #0096E0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.lower-mv_txt_lead {
  margin-top: 1.5em;
  line-height: 1.7;
}
@media only screen and (max-width: 640px) {
  .lower-mv_txt_lead {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_txt_lead {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.lower-mv_txt .btn_download::after {
  content: none;
}
@media only screen and (max-width: 640px) {
  .lower-mv_txt .btn_download {
    height: 3em;
    width: 70vw;
    margin-inline: auto;
    margin-top: 1em;
  }
}
@media only screen and (min-width: 641px) {
  .lower-mv_txt .btn_download {
    height: 4em;
    margin-top: 50px;
    width: 400px;
  }
}

.modal:not(.is-open) {
  display: none;
}
.modal_overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
.modal_body {
  background-color: #fff;
  position: relative;
  border-radius: 10px;
}
@media only screen and (max-width: 640px) {
  .modal_body {
    width: 90vw;
    padding: 2vw;
  }
}
@media only screen and (min-width: 641px) {
  .modal_body {
    width: 800px;
    padding: 52px 64px;
  }
}
.modal_header {
  display: flex;
  align-items: center;
}
.modal_header_hd {
  font-weight: bold;
  color: #0096E0;
  width: 100%;
  line-height: 1.4;
  word-break: break-all;
}
@media only screen and (max-width: 640px) {
  .modal_header_hd {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .modal_header_hd {
    font-size: calc((30 / var(--em)) * 1rem);
  }
}
@media only screen and (max-width: 640px) {
  .modal_header_img {
    height: 25vw;
  }
}
@media only screen and (min-width: 641px) {
  .modal_header_img {
    height: 100px;
  }
}
.modal_main {
  background-color: #F2F2F2;
}
@media only screen and (max-width: 640px) {
  .modal_main {
    margin-top: min((20 / var(--content-width)) * 100vw, 20 * 1px);
    padding: 1em;
  }
}
@media only screen and (min-width: 641px) {
  .modal_main {
    margin-top: 30px;
    padding: 28px 40px;
  }
}
.modal_main_hd {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}
.modal_main_hd img {
  transform: translateY(10%);
}
@media only screen and (max-width: 640px) {
  .modal_main_hd img {
    width: 25vw;
  }
}
@media only screen and (min-width: 641px) {
  .modal_main_hd img {
    width: 100px;
  }
}
.modal_main_hd span {
  display: inline-block;
  margin-left: 0.2em;
}
@media only screen and (max-width: 640px) {
  .modal_main_hd span {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .modal_main_hd span {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
@media only screen and (max-width: 640px) {
  .modal_main_hd strong {
    font-size: calc((30 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .modal_main_hd strong {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
.modal_main_content {
  background-color: #fff;
}
@media only screen and (max-width: 640px) {
  .modal_main_content {
    margin-top: min((20 / var(--content-width)) * 100vw, 20 * 1px);
    padding: 1em;
  }
}
@media only screen and (min-width: 641px) {
  .modal_main_content {
    margin-top: 15px;
    padding: 28px 38px;
  }
}
.modal_main_content p {
  margin-bottom: 1em;
  line-height: 1.7;
}
.modal-btn-close {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
@media only screen and (max-width: 640px) {
  .modal-btn-close {
    width: 10vw;
    height: 10vw;
  }
}
@media only screen and (min-width: 641px) {
  .modal-btn-close {
    width: 58px;
    height: 58px;
  }
}

.modal-btn-close {
  filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.4));
}

.hd-underline, .hd-underline_icon {
  text-align: center;
  font-weight: bold;
  position: relative;
  padding-bottom: 2em;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
.hd-underline::after, .hd-underline_icon::after {
  content: "";
  display: block;
  background-color: #0096E0;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media only screen and (max-width: 640px) {
  .hd-underline::after, .hd-underline_icon::after {
    width: min((30 / var(--content-width)) * 100vw, 30 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .hd-underline::after, .hd-underline_icon::after {
    width: 70px;
  }
}
.hd-underline_sup {
  display: inline-block;
  color: #00AAE7;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
@media only screen and (max-width: 640px) {
  .hd-underline_sup {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .hd-underline_sup {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
.hd-underline_hd {
  display: block;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 640px) {
  .hd-underline_hd {
    font-size: calc((28 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .hd-underline_hd {
    font-size: calc((64 / var(--em)) * 1rem);
  }
}
.hd-underline_hd strong {
  color: #0096E0;
}
@media only screen and (max-width: 640px) {
  .hd-underline_hd small {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .hd-underline_hd small {
    font-size: calc((54 / var(--em)) * 1rem);
  }
}
.hd-underline_hd + .hd-underline_sup {
  margin-top: 0.8rem;
}

.hd-underline_icon {
  padding-bottom: 1em;
}
.hd-underline_icon .hd-underline_hd::before {
  content: "";
  display: inline-block;
  margin-right: 0.1em;
  background-image: url(../img/icon-character-twin.png);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 57/81;
}
@media only screen and (max-width: 640px) {
  .hd-underline_icon .hd-underline_hd::before {
    width: 2em;
    height: auto;
  }
}
@media only screen and (min-width: 641px) {
  .hd-underline_icon .hd-underline_hd::before {
    width: 57px;
    height: auto;
  }
}

.hd-number {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.hd-number_num {
  background-color: #0096E0;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 10px;
  flex-shrink: 0;
}
@media only screen and (max-width: 640px) {
  .hd-number_num {
    font-size: calc((22 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .hd-number_num {
    font-size: calc((35 / var(--em)) * 1rem);
  }
}
.hd-number_hd {
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .hd-number_hd {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .hd-number_hd {
    font-size: calc((32 / var(--em)) * 1rem);
  }
}

.cv-area, .cv-area.fill {
  background-color: #fff;
  border-top: 2px solid #EFF6FF;
  border-bottom: 2px solid #EFF6FF;
}
@media only screen and (max-width: 640px) {
  .cv-area, .cv-area.fill {
    padding-block: min((30 / var(--content-width)) * 100vw, 30 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .cv-area, .cv-area.fill {
    padding-block: 60px;
  }
}
.cv-area.fill {
  background-color: #EFF6FF !important;
}
.cv-area.container {
  --content: min(92vw, 880px);
}
@media only screen and (max-width: 640px) {
  .cv-area_inner {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}
@media only screen and (min-width: 641px) {
  .cv-area_inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 769px) {
  .cv-area_inner {
    grid-template-columns: repeat(2, 400px);
  }
}
.cv-area_btn01.btn_contact {
  width: 100%;
  height: 100%;
}
.cv-area_btn02.btn_download {
  width: 100%;
  height: 100%;
}

.difference-area {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #DADCDE;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .difference-area {
    background-repeat: no-repeat;
    background-image: url(../img/top-function-bg-01.png);
    background-size: 50%;
    background-position: bottom right;
  }
}
@media only screen and (max-width: 640px) {
  .difference-area_inner {
    padding: 4vw;
  }
}
@media only screen and (min-width: 641px) {
  .difference-area_inner {
    padding: 55px 100px 67px;
  }
}
.difference-area_copy {
  color: #0096E0;
  letter-spacing: 0.04em;
  line-height: 1.7;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .difference-area_copy {
    font-size: calc((32 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .difference-area_copy {
    font-size: calc((48 / var(--em)) * 1rem);
  }
}
.difference-area_sub {
  line-height: 1.6;
  font-weight: bold;
  margin-block: 0.5em 1em;
}
@media only screen and (max-width: 640px) {
  .difference-area_sub {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .difference-area_sub {
    font-size: calc((34 / var(--em)) * 1rem);
  }
}
.difference-area_txt {
  line-height: 1.7;
}
@media only screen and (max-width: 640px) {
  .difference-area_txt {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .difference-area_txt {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (max-width: 640px) {
  .difference-area .btn_icon_rect {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .difference-area .btn_icon_rect {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
@media only screen and (max-width: 640px) {
  .difference-area .btn_icon_rect {
    margin-top: 1em;
    width: 70vw;
    margin-inline: auto;
  }
}
@media only screen and (min-width: 641px) {
  .difference-area .btn_icon_rect {
    margin-top: 2em;
    width: 300px;
  }
}

.box-explanation {
  border: 1px solid #0096E0;
  border-radius: 10px;
  overflow: hidden;
}
.box-explanation_hd {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0096E0;
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .box-explanation_hd {
    font-size: calc((17 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .box-explanation_hd {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
.box-explanation_txt {
  line-height: 1.7;
  padding: 1.5em 1em;
  background-color: #fff;
}
@media only screen and (max-width: 640px) {
  .box-explanation_txt {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .box-explanation_txt {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}

input.btn_download {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 1em;
  padding-top: 0.8em;
}

.btn, .btn_icon_rect, .btn_blue, .btn_contact, .btn_green, .btn_download, .btn_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--txt-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  transition: all 0.3s ease-out;
  font-weight: bold;
}
.btn:hover, .btn_icon_rect:hover, .btn_blue:hover, .btn_contact:hover, .btn_green:hover, .btn_download:hover, .btn_header:hover {
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}
.btn_icon::before, .btn_contact::before, .btn_download::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5em;
}
.btn_green, .btn_download, .btn_header {
  --txt-color: #fff;
  --bg-color: #8EC31F;
}
.btn_blue, .btn_contact {
  --txt-color: #fff;
  --bg-color: #0096E0;
}
.btn_download {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .btn_download {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .btn_download {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
.btn_download::before {
  background-image: url(../img/icon-download.svg);
  width: 2em;
  height: 2em;
}
.btn_download::after {
  content: "";
  display: block;
  height: 5em;
  width: 5em;
  background-repeat: no-repeat;
  background-image: url(../img/icon-character-large.png);
  background-size: contain;
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .btn_download::after {
    right: -20px;
  }
}
@media only screen and (min-width: 769px) {
  .btn_download::after {
    right: 0;
  }
}
.btn_contact {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .btn_contact {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .btn_contact {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
.btn_contact::before {
  background-image: url(../img/icon-email.svg);
  width: 2em;
  height: 2em;
}
.btn_contact::after {
  content: "";
  display: block;
  height: 3em;
  width: 5em;
  background-repeat: no-repeat;
  background-image: url(../img/icon-character-small.png);
  background-size: contain;
  position: absolute;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .btn_contact::after {
    right: 0;
  }
}
@media only screen and (min-width: 769px) {
  .btn_contact::after {
    right: 20px;
  }
}
.btn_icon_rect {
  --txt-color: #0096E0;
  --bg-color: #fff;
  border: 1px solid #0096E0;
  position: relative;
  height: 4em;
}
@media only screen and (max-width: 640px) {
  .btn_icon_rect {
    width: 70vw;
  }
}
@media only screen and (min-width: 641px) {
  .btn_icon_rect {
    width: 384px;
  }
}
@media only screen and (max-width: 640px) {
  .btn_icon_rect {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .btn_icon_rect {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
.btn_icon_rect::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
  translate: 0 -50%;
  display: block;
  background: #0096E0;
  height: 0.8em;
  width: 0.5em;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.client-area {
  background-color: #EFF6FF;
}
@media only screen and (max-width: 640px) {
  .client-area {
    padding-top: min((30 / var(--content-width)) * 100vw, 30 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .client-area {
    padding-top: 55px;
  }
}
.client-area_inner {
  background-color: #fff;
}
@media only screen and (max-width: 640px) {
  .client-area_inner {
    padding: 20px;
  }
}
@media only screen and (min-width: 641px) {
  .client-area_inner {
    padding: 40px min((60 / var(--content-width)) * 100vw, 60 * 1px);
  }
}
.client-area_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
@media only screen and (max-width: 640px) {
  .client-area_ttl {
    font-size: calc((24 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .client-area_ttl {
    font-size: calc((46 / var(--em)) * 1rem);
  }
}
.client-area_list {
  display: grid;
  border-radius: 10px;
}
@media only screen and (max-width: 640px) {
  .client-area_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media only screen and (min-width: 641px) {
  .client-area_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .client-area_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.client-area_list li {
  border: 1px solid #DADCDE;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .client-area_list li {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 641px) {
  .client-area_list li {
    padding: 1em 2em;
  }
}
.client-area_list li a {
  display: block;
  transition: opacity 0.7s ease-out;
}
.client-area_list li a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 640px) {
  .sec-buyzo-case {
    padding-block: min((60 / var(--content-width)) * 100vw, 60 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-buyzo-case {
    padding-block: 130px;
  }
}
.sec-buyzo-case_list_wrap {
  position: relative;
  margin-inline: auto;
}
@media only screen and (max-width: 768px) {
  .sec-buyzo-case_list_wrap {
    margin-top: min((20 / var(--content-width)) * 100vw, 20 * 1px);
  }
}
@media only screen and (min-width: 769px) {
  .sec-buyzo-case_list_wrap {
    margin-top: 35px;
    width: 1170px;
  }
}
.sec-buyzo-case_list_wrap .swiper-button-prev {
  left: 0;
  top: 50%;
}
@media only screen and (max-width: 768px) {
  .sec-buyzo-case_list_wrap .swiper-button-prev {
    transform: translate(0, -50%);
  }
}
@media only screen and (min-width: 769px) {
  .sec-buyzo-case_list_wrap .swiper-button-prev {
    transform: translate(-50%, -50%);
  }
}
.sec-buyzo-case_list_wrap .swiper-button-next {
  right: 0;
  top: 50%;
}
@media only screen and (max-width: 768px) {
  .sec-buyzo-case_list_wrap .swiper-button-next {
    transform: translate(0, -50%);
  }
}
@media only screen and (min-width: 769px) {
  .sec-buyzo-case_list_wrap .swiper-button-next {
    transform: translate(50%, -50%);
  }
}
.sec-buyzo-case_list_wrap .swiper-slide-prev,
.sec-buyzo-case_list_wrap .swiper-slide-active,
.sec-buyzo-case_list_wrap .swiper-slide-next {
  opacity: 1;
  pointer-events: all;
}
.sec-buyzo-case_item {
  border-radius: 10px;
  border: 1px solid #DADCDE;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0.8;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 768px) {
  .sec-buyzo-case_item {
    padding: 2em 1em;
    height: 140vw;
    max-height: 600px;
  }
}
@media only screen and (min-width: 769px) {
  .sec-buyzo-case_item {
    padding: 37px 27px 37px;
    height: 590px;
  }
}
.sec-buyzo-case_item:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  background-color: #EFF6FF;
}
.sec-buyzo-case_item a {
  color: inherit;
}
.sec-buyzo-case_item_thumb {
  width: 100%;
  aspect-ratio: 294/172;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-buyzo-case_item_logo {
  display: block;
  margin-top: 1.5em;
  margin-inline: auto;
  width: 85%;
  aspect-ratio: 294/95;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec-buyzo-case_item_txt {
  width: 100%;
  text-align: left;
  margin-top: 1.5em;
  line-height: 1.6;
  font-weight: 500;
}
@media only screen and (max-width: 640px) {
  .sec-buyzo-case_item_txt {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-buyzo-case_item_txt {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.sec-buyzo-case_item_ttl {
  width: 100%;
  text-align: left;
  margin-top: 1em;
  line-height: 1.6;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .sec-buyzo-case_item_ttl {
    font-size: calc((15 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-buyzo-case_item_ttl {
    font-size: calc((18 / var(--em)) * 1rem);
  }
}
.sec-buyzo-case_item_info {
  text-align: left;
  margin-top: 1em;
  line-height: 1.6;
  color: #50545A;
}
@media only screen and (max-width: 640px) {
  .sec-buyzo-case_item_info {
    font-size: calc((13 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-buyzo-case_item_info {
    font-size: calc((15 / var(--em)) * 1rem);
  }
}
.sec-buyzo-case_btn {
  margin-inline: auto;
}
@media only screen and (max-width: 768px) {
  .sec-buyzo-case_btn {
    margin-top: min((30 / var(--content-width)) * 100vw, 30 * 1px);
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 769px) {
  .sec-buyzo-case_btn {
    margin-top: 40px;
  }
}

input[type=text],
input[type=tel],
input[type=email] {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #FAFAFF;
  border: 1px solid #EFF6FF;
  font-weight: 500;
  padding: 1em;
  height: 3em;
}

.form-rabel {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1em;
}
@media only screen and (max-width: 640px) {
  .form-rabel {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .form-rabel {
    font-size: calc((16 / var(--em)) * 1rem);
  }
}
.form-rabel::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 0.2em 0.7em 0.3em;
}
@media only screen and (max-width: 640px) {
  .form-rabel::after {
    font-size: calc((12 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .form-rabel::after {
    font-size: calc((14 / var(--em)) * 1rem);
  }
}
.form-rabel.is-require::after {
  content: "必須";
  color: #fff;
  background-color: #0096E0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 170px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}
@media only screen and (max-width: 640px) {
  .swiper-button-next,
.swiper-button-prev {
    width: min((60 / var(--content-width)) * 100vw, 60 * 1px);
    width: min((60 / var(--content-width)) * 100vw, 60 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-disabled {
  display: none;
}

.sec-support-mv {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/bg-mv-support.png);
}
@media only screen and (max-width: 640px) {
  .sec-support-mv {
    background-size: 90vw;
    background-position: top right;
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-mv {
    height: 430px;
    background-position: top right;
  }
}
@media only screen and (min-width: 769px) {
  .sec-support-mv {
    background-position: top right;
  }
}

.sec-support-lead {
  background-color: #EFF6FF;
  color: #2C3244;
}
@media only screen and (max-width: 640px) {
  .sec-support-lead {
    padding-block: min((50 / var(--content-width)) * 100vw, 50 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead {
    padding-block: 100px;
  }
}
.sec-support-lead_items {
  display: flex;
}
@media only screen and (max-width: 640px) {
  .sec-support-lead_items {
    flex-direction: column;
    gap: min((50 / var(--content-width)) * 100vw, 50 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead_items {
    gap: 56px;
  }
}
@media only screen and (max-width: 640px) {
  .sec-support-lead_items_txt {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead_items_txt {
    max-width: 50%;
  }
}
.sec-support-lead_items_txt_hd4 {
  color: #0096E0;
  line-height: 1.4;
}
@media only screen and (max-width: 640px) {
  .sec-support-lead_items_txt_hd4 {
    font-size: calc((25 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead_items_txt_hd4 {
    font-size: 32px;
  }
}
.sec-support-lead_items_txt_p {
  line-height: 1.7;
}
@media only screen and (max-width: 640px) {
  .sec-support-lead_items_txt_p {
    margin-top: min((42 / var(--content-width)) * 100vw, 42 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead_items_txt_p {
    margin-top: 42px;
  }
}
.sec-support-lead_items_img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 640px) {
  .sec-support-lead_items_img {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-lead_items_img {
    max-width: 50%;
  }
}

.sec-support-case {
  color: #2C3244;
}
@media only screen and (max-width: 640px) {
  .sec-support-case {
    padding-block: min((50 / var(--content-width)) * 100vw, 50 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case {
    padding-block: 100px;
  }
}
.sec-support-case_ttl {
  margin-inline: auto;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_ttl {
    margin-bottom: min((72 / var(--content-width)) * 100vw, 72 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_ttl {
    margin-bottom: 72px;
  }
}
.sec-support-case_ttl_small {
  font-weight: bold;
  color: #00AAE7;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_ttl_small {
    font-size: calc((20 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_ttl_small {
    font-size: 24px;
  }
}
.sec-support-case_ttl_hd3 {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_ttl_hd3 {
    font-size: calc((43 / var(--em)) * 1rem);
    margin-top: min((16 / var(--content-width)) * 100vw, 16 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_ttl_hd3 {
    font-size: 54px;
    margin-top: 16px;
  }
}
.sec-support-case_ttl_hd3::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 3px;
  background-color: #00AAE7;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_ttl_hd3::after {
    bottom: min((-16 / var(--content-width)) * 100vw, -16 * 1px);
    width: min((64 / var(--content-width)) * 100vw, 64 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_ttl_hd3::after {
    bottom: -32px;
    width: 64px;
  }
}
.sec-support-case_list_item {
  background-color: #FCFDFF;
  border: 1px solid #DADCDE;
  border-radius: 10px;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item {
    padding: min((36 / var(--content-width)) * 100vw, 36 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item {
    padding: 72px;
  }
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item:not(:first-child) {
    margin-top: min((32 / var(--content-width)) * 100vw, 32 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item:not(:first-child) {
    margin-top: 32px;
  }
}
.sec-support-case_list_item_hd4 {
  position: relative;
  color: #0096E0;
  line-height: 1.4;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_hd4 {
    padding-left: min((24 / var(--content-width)) * 100vw, 24 * 1px);
    font-size: calc((25 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_hd4 {
    padding-left: 24px;
    font-size: 32px;
  }
}
.sec-support-case_list_item_hd4::before {
  position: absolute;
  left: 0;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #0096E0;
}
.sec-support-case_list_item_inner {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .sec-support-case_list_item_inner {
    flex-direction: column;
    gap: min((36 / var(--content-width)) * 100vw, 36 * 1px);
    margin-top: min((32 / var(--content-width)) * 100vw, 32 * 1px);
  }
}
@media only screen and (min-width: 769px) {
  .sec-support-case_list_item_inner {
    align-items: flex-start;
    gap: 56px;
    margin-top: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .sec-support-case_list_item_inner_left {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .sec-support-case_list_item_inner_left {
    max-width: 50%;
  }
}
.sec-support-case_list_item_inner_left_txt_p {
  font-weight: 500;
  line-height: 1.6;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_p {
    font-size: calc((15 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_inner_left_txt_p {
    font-size: 18px;
  }
}
.sec-support-case_list_item_inner_left_txt_list {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_list {
    margin-top: min((30 / var(--content-width)) * 100vw, 30 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_inner_left_txt_list {
    margin-top: 30px;
  }
}
.sec-support-case_list_item_inner_left_txt_list dt {
  width: 30%;
  padding-block: 5px;
  line-height: 1.8;
  font-weight: 500;
  border-top: 1px solid #DADCDE;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_list dt {
    font-size: calc((13 / var(--em)) * 1rem);
  }
}
.sec-support-case_list_item_inner_left_txt_list dt:last-of-type {
  border-bottom: 1px solid #DADCDE;
}
.sec-support-case_list_item_inner_left_txt_list dd {
  width: 70%;
  padding-block: 5px;
  line-height: 1.8;
  border-top: 1px solid #DADCDE;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_list dd {
    font-size: calc((13 / var(--em)) * 1rem);
  }
}
.sec-support-case_list_item_inner_left_txt_list dd:last-of-type {
  border-bottom: 1px solid #DADCDE;
}
.sec-support-case_list_item_inner_left_txt_link {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #0096E0;
  transition: 0.3s ease-out;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_link {
    margin-top: min((30 / var(--content-width)) * 100vw, 30 * 1px);
    padding-left: min((6 / var(--content-width)) * 100vw, 6 * 1px);
    padding-right: min((28 / var(--content-width)) * 100vw, 28 * 1px);
    font-size: calc((15 / var(--em)) * 1rem);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_inner_left_txt_link {
    margin-top: 30px;
    padding-left: 6px;
    padding-right: 28px;
    font-size: 18px;
  }
}
.sec-support-case_list_item_inner_left_txt_link:hover {
  opacity: 0.7;
}
.sec-support-case_list_item_inner_left_txt_link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0096E0;
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_link::before {
    bottom: min((-6 / var(--content-width)) * 100vw, -6 * 1px);
    left: min((-6 / var(--content-width)) * 100vw, -6 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_inner_left_txt_link::before {
    bottom: -6px;
    left: -6px;
  }
}
.sec-support-case_list_item_inner_left_txt_link::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%228%22%20height%3D%2212%22%20viewBox%3D%220%200%208%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.25293%2010.2359L6.99609%205.77836L1.25293%201.3208%22%20stroke%3D%22%230096E0%22%20stroke-width%3D%221.8%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}
@media only screen and (max-width: 640px) {
  .sec-support-case_list_item_inner_left_txt_link::after {
    right: min((10 / var(--content-width)) * 100vw, 10 * 1px);
    width: min((8 / var(--content-width)) * 100vw, 8 * 1px);
    height: min((12 / var(--content-width)) * 100vw, 12 * 1px);
  }
}
@media only screen and (min-width: 641px) {
  .sec-support-case_list_item_inner_left_txt_link::after {
    right: 10px;
    width: 8px;
    height: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .sec-support-case_list_item_inner_right {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .sec-support-case_list_item_inner_right {
    max-width: 50%;
  }
}
/*# sourceMappingURL=support.css.map */